.content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.listing_data {
    position: relative;
    overflow: hidden;  
    border: 1px red solid;
    height: calc(100vh - 200px); 
    max-height: 100vh;
    box-sizing: border-box;
}

.table {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
    transition: width 0.3s ease; 
}

.listing_data.info_shown .table {
    width: calc(100% - 310px); 
}

.table_header {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-rows: 20px;
    border: 1px solid black;
}

.header_button {
    background-color: cadetblue;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.table_entries {
    display: grid;
    grid-auto-rows: 20px;
}

.listing {
    border: 1px solid black;
    overflow: clip;
    white-space: nowrap;
}

.side_view {
    position: absolute; /* This is absolute, its anchor is the relative listing_data. top and right is based on that */
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 1px black solid;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;

    transform: translateX(100%); 
    transition: transform 0.3s ease;
}

.listing_data.info_shown .side_view {
    transform: translateX(0);
}

.listing_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side_view .title {
    font-weight: bold;
}

.listing.selected {
    background-color: #157325;
}

.close_side_view_btn {
    aspect-ratio: 1/1;
    border: none;
    background: none;
    width:max-content;
    padding: 0.5em;
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.listing_details_header {
    display: flex;
    flex-direction: row;
}