langchain_env/
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.1785184505.backup
infrastructure/terraform.tfstate.backup

lambda/chat/message_bedrock.zip
lambda/delete_entries/delete_entry.zip
lambda/view_data/conversation_starter.zip

.terraform/
.virtual_env/